<div class="lastd">
  <div class="container  ">
      <div class="row">
          <div class="col-md-3">
              <h1>c<i class="fas fa-virus" style="color: yellowgreen;"></i>vid <span>19</span></h1>
              <p> <i class="fas fa-arrow-circle-right mx-3" style="color: yellowgreen;"></i>This website is
                  for
                  health information and advice about coronavirus (COVID-19), how to prevent
                  and protect yourself from disease.</p>
              <p> <i class="fas fa-arrow-circle-right mx-3" style="color: yellowgreen;"></i>Learn about the
                  government response to coronavirus on GOV.UK.</p>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
              <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
              <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>

          </div>
          <div class="col-md-3">
              <h2>QUICK LINK</h2>
              <ol type="I">
                  <li><a href="#abt">about corona</a></li>
                  <li><a href="#symp">symptoms</a></li>
                  <li><a href="#pre">prevention</a></li>
                  <li><a href="#protectt">protect your self</a></li>
              </ol>
          </div>
          <div class="col-md-3">
              <h2>HELPFULL LINK</h2>
              <ol type="A" class="ono">
                  <li><a href="#health">who website</a></li>
                  <li><a href="#health">cdc website</a></li>
                  <li><a href="#health">nhs website</a></li>
                  <li><a href="#health">harverd health</a></li>
              </ol>
          </div>
          <div class="col-md-3">
              <h2>important LINK</h2>
              <ol type="i" class="ont">
                  <li><a href="#health">healthcare professional</a></li>
                  <li><a href="#health">healthcare facilities</a></li>
                  <li><a href="#health">older adults & medical condition</a></li>
                  <li><a href="#health">repare your family</a></li>
              </ol>
          </div>
      </div>
      <hr style="border: 1px rgb(213, 212, 230) solid; margin:10px auto;">
      <p style="color: blanchedalmond; font-size: 20px;text-transform: capitalize;"><i
              style=" margin-right: 20px; font-size: 20px; " class=" fas fa-check-circle"></i>2020 COVID-19.
          Template Made by eng : <span style="color: yellowgreen; text-transform: capitalize;">kareem ibrahim
              elsayed</span> .</p>
      <p style="color: violet; padding: 10px;">
          Disclaimer: We hope you find the information presented on this website useful. This website is for
          general information and raise awareness of (2019-nCoV) only. All the information based on WHO, NHS
          and
          CDC website. Information on our website is meant for awareness, if you have any doubt please verify
          from
          respective site .</p>
  </div>


</div>

