<div class="ec" id="treatment" style="position: relative;">
  <div class="container  ">
      <div class="row">
          <div class="col-md-7 ec2">
              <h4>BE CAREFULL & STAY SAFE</h4>
              <h1>TREATMENT FOR CORONAVIRUS</h1>
              <p>To date, there is no vaccine and no specific antiviral medicine to prevent or treat
                  COVID-2019.
                  However, those affected should receive care to relieve symptoms. People with serious illness
                  should be hospitalized. Most patients recover thanks to supportive care.</p>
              <p>Antibiotics do not help, as they do not work against viruses. Treatment aims to relieve the
                  symptoms while your body fights the illness. You'll need to stay in isolation, away from
                  other
                  people, until you have recovered.</p>
          </div>
          <div class="  col-md-5 ec1">
              <h4>Self Care</h4>
              <p>If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms
                  if
                  you:</p>
              <h6> <span>1 :</span> Rest and sleep</h6>
              <h6> <span>2 :</span> Keep warm</h6>
              <h6> <span>3 :</span> Drink plenty of liquids</h6>
              <h6><span>4 :</span> Use a room humidifier or take a hot shower to help ease a sore throat and
                  cough
              </h6>
              <h4>Medical Treatments</h4>
              <p>If you develop a fever, cough, and have difficulty breathing, promptly seek medical care.
                  Call in
                  advance and tell your health provider of any recent travel or recent contact with travelers.
              </p>
          </div>
      </div>
      <i class="fas fasi fa-virus"></i>
      <i class="fas fasii fa-virus"></i>
      <i class="fas fasiii fa-virus"></i>
  </div>
</div>
