
<div class="container text-center" style="margin-top: 10%;" id="home">
  <div class="row my-5 ">
      <div class="col-md-6">
          <h1>corona <span>(covid-19)</span> virus</h1>
          <p>the corona virus (covid-19) was first reported in wuhan,hubei, china in december 2019 , the
              outbreak
              was later recognized as a pandemic by the world health organization (who) on 11 march 2020 .</p>
          <div class="row my-5">
              <div class="col-md-4">
                  <h5>DEATHS</h5>
                  <h2>467,432</h2>
              </div>
              <div class="col-md-4">
                  <h5>RECOVERED</h5>
                  <h2>4,556,091</h2>
              </div>
              <div class="col-md-4">
                  <h5>WORLDWIDECASES</h5>
                  <h2>8,949,671</h2>
              </div>
          </div>
          <p> * Last updated : Jun 21, 2020, 09:24 AM America/Chicago</p>
      </div>
      <div class="col-md-6">
          <img class="img-fluid my-5" src="header-a.png" alt="">
      </div>

  </div>
</div>
